table {
  margin-left:auto; 
  margin-right:auto;
}

.daivishatakam {
  width: 70%;
  text-align: center;
  color: white;
}
.daivishatakam th {
  background: grey;
  word-wrap: break-word;
  text-align: center;
}
.daivishatakam td:nth-child(1) { background: red; }
.daivishatakam td:nth-child(2) { background: orange; }
.daivishatakam td:nth-child(3) { background: limegreen; }
.daivishatakam td:nth-child(4) { background: mediumseagreen; }
.daivishatakam td:nth-child(5) { background: forestgreen; }
.daivishatakam td:nth-child(6) { background: olive; }
.daivishatakam td:nth-child(7) { background: purple; }
.daivishatakam td:nth-child(8) { background: goldenrod; }
.daivishatakam td:nth-child(9) { background: chocolate; }
.daivishatakam td:nth-child(10) { background: brown; }
.daivishatakam td:nth-child(12) { background: brown; }
.daivishatakam td:nth-child(13) { background: chocolate; }
.daivishatakam td:nth-child(14) { background: goldenrod; }
.daivishatakam td:nth-child(15) { background: purple; }
.daivishatakam td:nth-child(16) { background: olive; }
.daivishatakam td:nth-child(17) { background: forestgreen; }
.daivishatakam td:nth-child(18) { background: mediumseagreen; }
.daivishatakam td:nth-child(19) { background: limegreen; }
.daivishatakam td:nth-child(20) { background: orange; }
.daivishatakam td:nth-child(21) { background: red; }

r { color: red }
o { color: orange }

.rkAnuloma {
  text-align: center
}

.sarvathobhadra {
  width: 70%;
  text-align: center;
}
.sarvathobhadra th {
  background: grey;
  word-wrap: break-word;
  text-align: center;
}
.sarvathobhadra td:nth-child(4) { border-right: 5px dashed black; }
.sarvathobhadra tr:nth-child(4) { border-bottom: 5px dashed black  }
